<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="sunny"></ion-icon>
          <ion-label>Inicio</ion-label>
          <ion-router-outlet name="home"></ion-router-outlet>
        </ion-tab-button>
    
        <ion-tab-button tab="subjects">
          <ion-icon name="apps"></ion-icon>
          <ion-label>Materias</ion-label>
          <ion-router-outlet name="subjects"></ion-router-outlet>
        </ion-tab-button>
      </ion-tab-bar>
</ion-tabs>